/*
	Theme Name: MasterStudy Child
	Theme URI: https://stylemixthemes.com/masterstudy/
	Author: StylemixThemes
	Author URI: https://stylemixthemes.com/
	Description: MasterStudy is the best WordPress theme for the Education & Learning Center - for educational organizations, who sell courses and organize classes locally. Using Masterstudy you can easily setup a WordPress site for your education company.
	Version: 4.8.2
	License: GNU General Public License v2 or later
	License URI: http://www.gnu.org/licenses/gpl-2.0.html
	Tags: classes, courses, education, education center, learning center, tutoring, teaching, study, studying, learning, lessons, instructor, teacher, mentor
	Text Domain: masterstudy
*/
.course-meta-field {
    margin-bottom: 25px;
}

.wpcf7-form .flag-dropdown, .wpcf7-form .flag-container, .wpcf7-form input, .wpcf7-form label {
    width: 100%;
}

.wpcf7-form  .country-list {
    width: 100%;
    overflow-x: hidden;
}

.wpcf7-form input[type="date"] {
    display: block;
    padding: 6px 12px;
    height: 45px;
    line-height: 1.42857143;
    border-radius: 0;
    border: 2px solid #f0f2f5;
    background: #f0f2f5;
    box-shadow: none;
    color: #555;
}

.wpcf7-form .wpcf7-submit {
    border: none;
    background-color: #002e5b;
    color: #fff !important;
    display: inline-block;
    min-width: 135px;
    margin-bottom: 0;
    margin-top: 10px;
    font-size: 14px;
    font-weight: 700;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    padding: 12.5px 15px;
    color: #fff;
    border-radius: 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    outline: 0!important;
}

.wpcf7-form .wpcf7-spinner {
    display: block;
    margin-inline: auto;
    margin-top: 10px;
    height: 0;
}

.wpcf7-form.submitting .wpcf7-spinner {
    height: 24px;
}

.wpcf7-form input[type="date"]:focus, .wpcf7-form input[type="date"]:focus-visible {
    background-color: #fff;
    border-color: #f0f2f5;
    outline: 0;
}

.ms_lms_courses_archive__filter_form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-self: flex-start;
    padding: 0;
    margin: 0;
    background: #fff;
    border: 1px solid #DBE0E9
}

.ms_lms_courses_archive__filter_options {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 0;
    margin: 0
}

.ms_lms_courses_archive__filter_options_item {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin: 0;
    border-bottom: 1px solid #DBE0E9
}

.ms_lms_courses_archive__filter_options_item:last-child {
    border-bottom: none
}

.ms_lms_courses_archive__filter_options_item_content {
    display: none;
    width: 100%;
    flex-direction: column;
    padding: 0 25px 20px
}

.ms_lms_courses_archive__filter_options_item_title {
    display: flex;
    width: 100%;
    padding: 20px 25px;
    position: relative;
    cursor: pointer
}

.ms_lms_courses_archive__filter_options_item_title h3 {
    font-family: "Albert Sans",sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: #001931;
    margin: 0;
    padding: 0;
    letter-spacing: 0
}

.ms_lms_courses_archive__filter_options_item_title_toggler {
    position: absolute;
    right: 25px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 16px;
    min-height: 16px;
    width: 16px;
    min-width: 16px;
    margin: 0;
    padding: 0
}

.ms_lms_courses_archive__filter_options_item_title_toggler::after {
    content: "";
    display: flex;
    position: absolute;
    top: 7px;
    right: 0;
    width: 16px;
    min-width: 16px;
    border-bottom: 2px solid #227AFF;
    transition: .3s ease
}

.ms_lms_courses_archive__filter_options_item_title_toggler::before {
    content: "";
    display: flex;
    position: absolute;
    right: 7px;
    top: 0;
    height: 16px;
    min-height: 16px;
    border-right: 2px solid #227AFF;
    transition: .3s ease
}

.ms_lms_courses_archive__filter_options_item_title.active .ms_lms_courses_archive__filter_options_item_title_toggler::before {
    opacity: 0
}

.ms_lms_courses_archive__filter_options_item_category {
    display: flex;
    align-items: center;
    margin-top: 10px
}

.ms_lms_courses_archive__filter_options_item_category:first-child {
    margin-top: 0
}

.ms_lms_courses_archive__filter_options_item_category.hide_instructor {
    display: none
}

.ms_lms_courses_archive__filter_options_item_checkbox {
    display: flex;
    align-items: center;
    cursor: pointer
}

.ms_lms_courses_archive__filter_options_item_checkbox_inner {
    display: flex;
    margin: 0 10px 1px 0;
    position: relative;
    min-width: 18px;
    min-height: 18px;
    width: 18px;
    height: 18px
}

.ms_lms_courses_archive__filter_options_item_checkbox_inner input[type=checkbox] {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 3;
    margin: 0;
    padding: 0
}

.ms_lms_courses_archive__filter_options_item_checkbox_inner input[type=checkbox]:checked+span {
    background: #227AFF
}

.ms_lms_courses_archive__filter_options_item_checkbox_inner input[type=checkbox]:checked+span i {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0)
}

.ms_lms_courses_archive__filter_options_item_checkbox_inner span {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #EEF1F7;
    border-radius: 4px;
    transition: .3s ease
}

.ms_lms_courses_archive__filter_options_item_checkbox_inner i {
    color: #fff;
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
    transition: .3s ease;
    margin-top: 2px;
    opacity: 0;
    font-size: 10px
}

.ms_lms_courses_archive__filter_options_item_checkbox_label {
    display: flex;
    align-items: center;
    font-family: "Albert Sans",sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #001931;
    margin: 0;
    padding: 0;
    letter-spacing: 0
}

.ms_lms_courses_archive__filter_actions {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px 25px;
    margin: 0
}

.ms_lms_courses_archive__filter_actions input[type=submit] {
    width: 100%;
    background: #227AFF;
    color: #fff;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    padding: 11px 20px;
    border: none;
    border-radius: 5px;
    margin: 0;
    font-weight: 500;
    min-height: auto
}

.ms_lms_courses_archive__filter_actions input[type=submit]:hover {
    background: linear-gradient(0deg,rgba(0,0,0,.2),rgba(0,0,0,.2)),#227AFF
}

.ms_lms_courses_archive__filter_actions_reset {
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 25px 0 10px
}

.ms_lms_courses_archive__filter_actions_reset span {
    justify-content: center;
    align-items: center;
    font-weight: 500;
    color: #001931;
    border-bottom: 1px dashed #001931
}

.ms_lms_courses_archive__filter_actions_reset i {
    color: #001931;
    font-weight: 700;
    margin-right: 5px;
    transition: .3s
}

.ms_lms_courses_archive__filter_actions_reset:hover span {
    color: #227AFF;
    border-color: #227AFF
}

.ms_lms_courses_archive__filter_actions_reset:hover i {
    color: #227AFF
}

.ms_lms_courses_archive__load-more {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 15px 0;
    padding: 0 15px
}

.ms_lms_courses_archive__load-more-button {
    justify-content: center;
    align-items: center;
    padding: 11px 20px;
    margin: 0;
    background: #227AFF;
    border-radius: 45px;
    outline: 0;
    border: none;
    font-weight: 500;
    color: #fff
}

.ms_lms_courses_archive__load-more-button:hover {
    background: linear-gradient(0deg,rgba(0,0,0,.2),rgba(0,0,0,.2)),#227AFF
}

.ms_lms_courses_archive__no-result {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    padding: 15px;
    margin: 100px 0 0
}

.ms_lms_courses_archive__no-result_background {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #EAF2FF;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    position: relative
}

.ms_lms_courses_archive__no-result_background i {
    display: flex;
    font-size: 60px;
    color: #227AFF
}

.ms_lms_courses_archive__no-result p {
    color: #263145;
    font-size: 24px;
    font-family: "Albert Sans",sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    margin: 20px 0 15px;
    padding: 0
}

.ms_lms_courses_archive__no-result a.ms_lms_courses_archive__no-result_reset {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none
}

.ms_lms_courses_archive__no-result a.ms_lms_courses_archive__no-result_reset span {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Albert Sans",sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #227AFF;
    border-bottom: 1px dashed #227AFF;
    transition: .3s
}

.ms_lms_courses_archive__no-result a.ms_lms_courses_archive__no-result_reset i {
    color: #227AFF;
    font-weight: 700;
    margin-right: 5px;
    transition: .3s
}

.ms_lms_courses_archive__no-result a.ms_lms_courses_archive__no-result_reset:hover span {
    color: #001931;
    border-color: #001931
}

.ms_lms_courses_archive__no-result a.ms_lms_courses_archive__no-result_reset:hover i {
    color: #001931
}